/* ======================================
 * ! Scrollbars
 * ====================================== */

StScrollView {
	&.vfade { -st-vfade-offset: 4em; }
	&.hfade { -st-hfade-offset: 4em; }
}

StScrollBar {
	padding: 0;
	min-width: 12px;
	min-height: 12px;

	StBin#trough {
		border-image: asset("img/controls/scroll-trough.svg") 6;
	}

	StButton#vhandle,
	StButton#hhandle {
		background: $background-accent;
		border: 1px $border-accent;
		border-radius: 6px;

		&:hover, &:focus, &:active {
			background: $background-secondary;
			border: 1px $border-secondary;
		}
	}
}
