/* ======================================
 * ! Scrollbars
 * ====================================== */

StScrollView {
	&.vfade { -st-vfade-offset: 4em; }
	&.hfade { -st-hfade-offset: 4em; }
}

StScrollBar {
	padding: 0;
	min-width: 12px;
	min-height: 12px;

	StBin#trough {
		background: transparent;
		border-image: url("img/controls/scroll-trough.svg") 6;
	}

	StButton#vhandle,
	StButton#hhandle {
		border-image: url("img/controls/scroll-handle.svg") 6;

		&:hover, &:focus, &:active {
			border-image: url("img/controls/scroll-handle-hover.svg") 4;
		}
	}
}
