/* ======================================
 * ! App menu applet
 * ====================================== */

$menu-spacing: $padding-s;

.menu-background.menu .popup-menu-content {
	padding: $menu-spacing;
}

.menu-favorites-box {
	@include background-element(secondary);
	padding: $padding-xxs;
}

.menu-favorites-button {
	/* Vertical padding hardcoded in the applet code,
	 * vpadding = icon_size / 3, where icon_size = 32px */
	padding: 11px;

	&:hover {
		@include hover;
	}
}

.menu-categories-box {
	padding: 0;
}

.menu-applications-outer-box {
	spacing: $menu-spacing;

	.menu-applications-inner-box {
		margin: 0 $menu-spacing;
	}

	.menu-applications-scrollbox {
		padding: 0;
	}
}

.menu-application-button,
.menu-category-button {
	padding: $padding-xs;
	spacing: $padding-xs;

	&-selected, &-selected:highlighted {
		padding: $padding-xs;
		spacing: $padding-xs;
		color: $text-primary;
		@include hover;

		StIcon { color: $text-primary; }
	}

	&-selected:highlighted, &:highlighted {
		font-weight: bold;
	}

	&-greyed {
		padding: $padding-xs;
		spacing: $padding-xs;
		color: $text-disabled;
	}

	&-label {
		padding: 0;

		&:first-child:last-child { /* "All applications" button */
			border: 0px rgba($accent-primary, .5);
			border-left-width: 2px;
			padding: 2px $padding-xs;

			&:rtl {
				border-left-width: 0px;
				border-right-width: 2px;
			}
		}
	}
}

.menu-selected-app-box {
	margin: $menu-spacing $padding-xs $padding-xxs;
	text-align: right;
}

.menu-selected-app-title {
	color: $text-primary;
}

.menu-selected-app-description {
	max-width: 12em;
	color: $text-secondary;
}

.menu-search-box {
	padding: 0 0 $menu-spacing;
}

/* The right click menu */
.menu-applications-inner-box StScrollView {
	@include background-element(secondary);
	padding: $padding-xxs 0;
}
