/* ======================================
 * ! Calendar
 * ====================================== */

.datemenu-date-label {
	padding: $padding-s;
	padding-bottom: 0;
	text-align: center;
	color: $text-primary;
	font-size: $font-size-lg;
}

.calendar {
	padding: $padding-m;
	padding-bottom: $padding-xs;
	spacing-rows: 0;
	spacing-columns: 0px;
}

/* [<] Month [>] [<] Year [>] */
.calendar-month-label {
	padding: $padding-xxs 0;
	color: $text-primary;
}

.calendar-change-month-back,
.calendar-change-month-forward {
	@include background-element(accent);
	@include size(20px);
	background-size: 16px;
	margin: 0 $padding-xxs;

	&:hover {
		@include background-element(secondary);
	}
}
.calendar-change-month-back,
.calendar-change-month-forward:rtl {
	background-image: url("img/controls/calendar-arrow-left.svg");
}
.calendar-change-month-forward,
.calendar-change-month-back:rtl {
	background-image: url("img/controls/calendar-arrow-right.svg");
}

.calendar-day-heading {
	color: $text-primary;
	padding: $padding-m 0 $padding-xxs;
	text-align: center;
	font-weight: bold;
}

.calendar-day-base {/*!*/}

.calendar-day {
	border: 1px $border-primary;
	border-top-width: 0;
	border-left-width: 0;
	@include size(2.4em);
}
.calendar-day-top {
	border-top-width: 1px;
}
.calendar-day-left {
	border-left-width: 1px;
}

.calendar-work-day {
	color: $text-primary;
}
.calendar-nonwork-day {
	color: $text-secondary;
	border-color: $border-secondary;
}

.calendar-today {
	background-color: rgba($accent-info, .25);
	border-color: blend($border-primary, $background-primary);
	font-weight: bold;
}

.calendar-other-month-day {
	color: $text-disabled;
}

.calendar-week-number {
	color: $text-secondary;
}

.calendar-today-day-label {
    color: $text-primary;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.calendar-today-date-label {
    color: $text-secondary;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

.calendar-not-today {
  color: $text-primary; 
}
  
.calendar-not-today:selected {
    font-weight: bold;
    background-color: $background-secondary;
    color: $text-primary; 
}
    
.calendar-not-today:selected:hover {
      font-weight: bold;
      color: $text-primary;
      background-color: $background-hover; 
}

/* Event Box */
.calendar-events-main-box {
  height: 300px;
  margin-right: .5em;
  padding: .5em;
  min-width: 350px;
  border: 1px solid $border-primary;
  background-color: $background-secondary; 
}

.calendar-events-no-events-button {
  margin: 6px 0 6px 0;
  padding: 6px; 
}
  
.calendar-events-no-events-button:hover {
    background-color: $background-hover; 
}
    
.calendar-events-no-events-button:hover .calendar-events-no-events-icon,
.calendar-events-no-events-button:hover .calendar-events-no-events-label {
      color: $accent-primary; 
}

.calendar-events-no-events-icon,
.calendar-events-no-events-label {
  font-weight: bold;
  color: $accent-primary;
  text-align: center; 
}

.calendar-events-date-label {
  padding: .1em .1em .5em .1em;
  color: $text-primary;
  font-weight: bold;
  text-align: center; 
}

.calendar-events-event-container {
  padding: 0; 
}

.calendar-event-button {
  border: 1px solid $border-primary; 
}

.calendar-event-button .calendar-event-time-past {
    color: $text-primary;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em; 
}
  
.calendar-event-button .calendar-event-time-present {
    color: $text-primary;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em; 
}
    
.calendar-event-button .calendar-event-time-present:all-day {
      color: $background-hover; 
}
  
.calendar-event-button .calendar-event-time-future {
    color: $text-primary;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em; 
}
  
.calendar-event-button .calendar-event-summary {
    color: $text-primary;
    text-align: left;
    width: 200px; 
}
  
.calendar-event-button .calendar-event-countdown {
    text-align: right;
    margin-bottom: .6em;
    color: $text-primary; 
}
    
.calendar-event-button .calendar-event-countdown:soon {
      font-weight: bold; 
}
    
.calendar-event-button .calendar-event-countdown:imminent {
      font-weight: bold;
      color: $text-primary; 
}
    
.calendar-event-button .calendar-event-countdown:current {
      font-weight: bold;
      color: $background-hover; 
}
  
.calendar-event-button:hover {
    background-color: $background-hover;
    border: 1px solid $border-secondary; 
}

.calendar-event-button:hover .calendar-event-time-past,
.calendar-event-button:hover .calendar-event-time-present,
.calendar-event-button:hover .calendar-event-time-future,
.calendar-event-button:hover .calendar-event-summary {
      color: $text-primary; 
}
    
.calendar-event-button:hover .calendar-event-countdown {
      text-align: right;
      margin-bottom: .6em;
      color: $text-primary; 
}
      
.calendar-event-button:hover .calendar-event-countdown:soon {
        font-weight: bold; 
}
      
.calendar-event-button:hover .calendar-event-countdown:imminent {
        font-weight: bold; 
}
      
.calendar-event-button:hover .calendar-event-countdown:current {
        font-weight: bold; 
}

.calendar-event-color-strip {
  width: 2px; 
}
