/* ======================================
 * ! Sound Applet
 * ====================================== */

.sound-player {
	padding: 0;

	> StBoxLayout:first-child {
		padding: $padding-xs;
		padding-top: $padding-xs - $padding-xxs; // Compensate popupmenu extra top padding
		spacing: $padding-xs;
		font-weight: normal;
		font-size: $font-size-lg;

		StButton {
			@include btn-primary;
			@include btn-size(small);
		}
	}

	/* sometimes disappears (in all themes) */
	&-generic-coverart {
		background-color: $background-secondary;
		border-top: 1px $border-secondary;
	}

	&-overlay {
		border-top: 1px $border-primary;
		background-color: $background-primary;
		padding: $padding-l;
		spacing: $padding-s;
		color: $text-primary;

		StBoxLayout {
			spacing: $padding-xs;
			/* Cover width is hardcoded to 300px */
			max-width: 300px - 2 * $padding-l - 2;

			&:last-child { /* Controls box */
				padding-top: $padding-m - $padding-s; // Compensate spacing-s
			}
		}

		StButton {
			@include btn-primary;
			@include btn-size(medium);
		}
	}

	.slider {
		height: .45em;
		// Resolve transparency needed because the background
		// is painted over the active part.
		-slider-background-color: resolve-transparency($border-primary, $background-primary);
		-slider-active-background-color: $accent-primary;
		-slider-handle-radius: 0;
		border-image: none;
		border: 0 transparent;
	}
}
