/* ======================================
 * ! User Applet
 * ====================================== */

.user-box {
	padding: $padding-s;
	padding-top: $padding-s - $padding-xxs; // Compensate popupmenu extra top padding
	padding-bottom: $padding-xxs;
	spacing: $padding-xs;
}

.user-icon {
	@include size(32px);
	border: none;
	background: transparent;
}

.user-label {
	color: $text-primary;
	font-size: 100%;
	font-weight: bold;
}
