/* ======================================
 * ! Number-mode Workspace Switcher applet
 * ====================================== */

.workspace-switcher {
	padding: 0px;
}

.workspace-button {
	color: $text-secondary-invert;
	border-color: transparent;
	padding: 1px $padding-m;
	&.vertical { padding: $applet-padding 1px; } /* vpadding not working fine */

	StLabel { /* Fix for Cinnamon < 3.8 (2018) */
		min-width: .6em;
		text-align: center;
	}

	@each $pos in top, bottom, left, right {
		.panel-#{$pos} & {
			border-#{$pos}-width: 1px;
			padding-#{$pos}: 0px;
		}
	}

	&:hover, &:outlined {
		color: $text-primary-invert;
		border-color: $text-primary-invert;
	}

	&:outlined {
		background-color: rgba($text-primary-invert, .15);
	}
}

/* ======================================
 * ! Visual-mode Workspace Switcher applet
 * ====================================== */

.workspace-graph {
	padding: 0 $padding-xxs;

	.vertical & { padding: $padding-xxs 0; }

	.workspace {
		background-color: rgba(#fff, .1);
		border: 1px opacify($background-panel, 1);

		&:active {
			background-color: rgba(#000, .5);
			border-color: opacify($text-primary-invert, 1);
		}

		.windows {
			-active-window-background: rgba(#eee, .75);
			-active-window-border: #000;
			-inactive-window-background: rgba(#7f7f7f, .5);
			-inactive-window-border: rgba(#000, .75);
		}
	}
}
