/* ======================================
 * ! Expo view
 * ====================================== */

.expo-background {
	background-color: rgba(#000, .9);
}

.expo-workspace-thumbnail-frame {
	border: 1px #000;
	box-shadow: 0px 0px 4px #000;
}

.workspace-thumbnails {
	/* Using other than 32px causes close buttons to look blurry */
	spacing: 32px;
}

/* This shades the workspace thumbnails */
.workspace-thumbnails .workspace-overview-background-shade {
	background-color: transparent;
}

.expo-workspaces-name-entry {
	padding: $padding-xs;
	text-align: center;
}

.workspace-close-button {
	background-image: url("img/controls/close.svg");
	background-size: 24px;
	@include size(24px);
	-cinnamon-close-overlap: 12px;

	&:hover {
		background-image: url("img/controls/close-hover.svg");
	}
}

.workspace-add-button {
	background-image: url("img/expo_scale/plus.svg");
	background-color: rgba(#fff, .1);
	border: 1px #000;
	border-radius: 2px;
	border-right: 0;
	height: 256px;
	width: 48px;

	&:hover {
		background-color: rgba(#fff, .15);
	}
}

.window-close-area {
	background-image: url("img/expo_scale/trash.svg");
	background-color: rgba(#fff, .1);
	border: 1px #000;
	border-radius: 2px;
	border-bottom: 0;
	height: 64px;
	width: 512px;
}
/* ======================================
 * ! Windows overview
 * ====================================== */

/* The background for the scale view */
.workspace-overview-background-shade {
	background-color: rgba(#000, .65);
}

.window-border {
	$border-color: rgba(#fff, .5);
	border: (5px - 1px) $border-color;
	box-shadow: 0 0 0 1px $border-color inset;
	border-radius: 2px;
	background-color: rgba(#fff, .05);
}

.window-caption {
	-cinnamon-caption-spacing: -(16px / 2 + $padding-s);
	color: $text-primary-invert;
	font-size: $font-size-base;
	font-weight: normal;
	max-width: 24em;
	spacing: $padding-s;
	padding: $padding-s;
	@include background-element;
}

.window-close {
	@extend .workspace-close-button;
	-cinnamon-close-overlap: 11px;
}

.window-iconbox { /* Cinnamon < 4.0 */
	/* Compensate negative caption spacing overlap */
	padding-right: (16px / 2 + $padding-s) + $padding-m;
}

.overview-empty-placeholder {
	color: $text-primary-invert;
	font-size: $font-size-xxxl;
}
