/* ======================================
 * ! Lightbox + flashspot
 * ====================================== */

/* The background shade when a dialog appears */
.lightbox { background-color: rgba(#000, .5); }


/* Among other places, appears when adding an applet */
.flashspot { background-color: rgba(#fff, .6); }


/* ======================================
 * ! Modal dialogs
 * ====================================== */

.modal-dialog {
	@include background-element;
	font-size: $font-size-base;


	> * {
		padding: $padding-l;
	}

	&-button-box {
		background-color: $background-secondary;
		border-top: 1px $border-secondary;
		spacing: 0;
		padding: $padding-s;
	}

	&-button {
		@include btn-primary;
		@include btn-size("wide");
	}
}

/* ======================================
 * ! Run dialog
 * ====================================== */

.run-dialog {
	> * {
		spacing: $padding-s;
		padding: $padding-s;
	}

	> .modal-dialog-button-box {
		background-color: transparent;
		border-image: none;
		padding: 0;
		height: 0;
		border: 0;
	}

	&-error-box {
		padding: 0;
		spacing: $padding-s;
		color: $text-danger;
	}

	&-error-icon {
		color: $text-danger;
	}

	&-completion-box {
		@include background-element(accent);
		padding: $padding-s;
	}

	&-label {/*!*/}

	&-entry {/*!*/}
}
/* ======================================
 * ! About Dialog
 * ====================================== */

.about-content {
	min-width: 24em;
	max-width: 36em;
	spacing: $padding-l;
}

.about-icon {
	@include background-element(secondary);
	padding: $padding-s;
}

.about-title {
	font-size: $font-size-xxl;
	padding: 0 $padding-l $padding-xxs;
	font-weight: normal;
}

.about-uuid {
	color: $text-secondary;
	padding: 0 $padding-l $padding-xxs;
}

.about-description {/* ! */}


.about-scrollBox {
	@include background-element(secondary);
	padding: $padding-m;

	&-innerBox {
		spacing: $padding-s;
	}
}

#about-website:hover StLabel {
	text-decoration: underline;
}
