/* ======================================
 * ! On-screen Keyboard
 * ====================================== */

#keyboard {
	@include background-element(secondary);
	border-radius: 0;
	spacing: $padding-xs;
}

.keyboard-layout {
	spacing: $padding-xs; // Space between rows
	padding: $padding-m;
}

.keyboard-row {
	spacing: $padding-xs; // Horizontal space between keys
}

.keyboard-key {
	@include btn-primary;
	font-size: $font-size-xl;
}

/* Appears when long-pressing certain keys */
.keyboard-subkeys {
	@include background-element;
}
