/* ======================================
 * ! Panel
 * ====================================== */
$panel-height: 33px;
$panel-width: 43px;

@each $pos in top, bottom, left, right {
	.panel-#{$pos} {
		font-size: $font-size-base;
		@include size($panel-width, $panel-height);
		background-color: $background-panel;

		border-#{oposite-side($pos)}-width: 1px;
		border-color: rgba($background-panel, .25);

		/* When panel settings is open */
		&:highlight {
			.panelLeft, .panelCenter, .panelRight {
				@include cinnamon-gradient(#{$pos}, rgba($accent-hlight, .25));
			}
		}

		/* Panel edit mode */
		.panelLeft:dnd,
		.panelRight:dnd {
			@include cinnamon-gradient(#{$pos}, rgba($accent-hlight, .25));
		}

		.panelCenter:dnd {
			@include cinnamon-gradient(#{$pos}, rgba($accent-info, .25));
		}
	}
}

.panelLeft, .panelCenter, .panelRight {
	spacing: 1px;
}

/* Simulate panel spacing */
.panelCenter {
	padding: 0 1px;
	&.vertical { padding: 1px 0; }
}

.panel-dummy {
	background-color: rgba($accent-hlight, .5);

	&:entered { background-color: rgba($accent-success, .75); }
}
