// Accent colors
$accent-primary: light-dark(#444, #999);
$accent-success: #33cc33;
$accent-info:    #3399cc;
$accent-hlight:  #ffcc00;
$accent-danger:  #ff3333;

// Text color
$text-primary:   light-dark(rgba(#000, .7),  rgba(#fff, .95));
$text-secondary: light-dark(rgba(#000, .6),  rgba(#fff, .75));
$text-disabled:  light-dark(rgba(#000, .25), rgba(#fff, .25));

$text-primary-invert:   rgba(#fff, .85);
$text-secondary-invert: rgba(#fff, .6);
$text-disabled-invert:  rgba(#fff, .25);

$text-link:    saturate(darken($accent-info,    10%), 20%);
$text-success: saturate(darken($accent-success, 18%),  6%);
$text-info:    saturate(darken($accent-info,    10%), 20%);
$text-hlight:  saturate(darken($accent-hlight,   4%), 20%);
$text-danger:  saturate(darken($accent-danger,   6%), 99%);

// Background colors
$background-primary:   light-dark(#fafafa, #111111);
$background-secondary: light-dark(#f0f0f0, #090909);
$background-accent:    light-dark(#ffffff, #1f1f1f);

$background-hover:     light-dark(rgba(#000, .15), rgba(#fff, .1));
$background-panel:     rgba(#000, .8);

// Border colors
$border-primary:   light-dark(rgba(#000, .2),  rgba(#000, .45));
$border-secondary: light-dark(rgba(#000, .15), rgba(#000, .35));
$border-accent:    light-dark(rgba(#000, .2),  rgba(#000, .6));
